body {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color: #FFF6F3;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px black;
}

.logo-link {
    text-decoration: none;
}

.logo {
    display: flex;
    color: black;
}

.logo img {
    height: 100px;
}

.logo .text {
    margin-left: 10px;
}

.logo h1 {
    font-size: 55px;
    margin: 0;
}

.logo h2 {
    font-size: 23px;
    margin: 0;
}

.menu {
    margin-left: auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 100px;
    flex-direction: column;
    gap: 0.5rem;
}

.lang-list {
    align-items: center;
    font-size: 15px;
    padding: 0;
    margin-left: auto;
    margin-top: 0;
    margin-right: 15px ;
    align-self: flex-start;
    /* padding-bottom: 25px; */
}

.lang-list li {
    margin-left: 10px;
    display: inline;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.lang-list li a {
    color: black;
    text-decoration: none;
}

.navbar-list {
    margin: 0;
    align-items: right;
    /* margin-right: 200px; */
    font-size: 20px;
    padding-bottom: 0;
    align-self: flex-end;
}

.navbar-list li {
    display: inline;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-list li a {
    color: black;
    text-decoration: none;
}

.lang-list li a:hover {
    color: #ED1B24;
}

.navbar-list li a:hover {
    color: #ED1B24;
}