<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo JKT48">
            <div class="text">
                <h1>JKT48</h1>
                <h2>Official Website</h2>
            </div>
        </div>
        
        <div class="menu">
            <ul class="navbar-list">
                <li><a href="#">NEWS</a></li>
                <li><a href="#">MEMBER</a></li>
                <li><a href="#">SCHEDULE</a></li>
                <li><a href="#">THEATER</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">FANCLUB</a></li>
            </ul>
        </div>
    </header>
    <h1>This is JKT48</h1>
</body>
</html>