<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="full-nav">
            <div class="logo">
                <a href="views.members">
                    <img src="img/logo.png">
                    <h1>JKT48</h1>
                    <h3>Official Website</h3>
                </a>
            </div>
            <div class="lang-nav">

            </div>
        </nav>
    </header>
</body>
</html>